body{
    background-size: cover;
}

.heading{
    width: 100%;
    box-shadow: 10px 10px 10px white;
    margin-top: 0;
    font-size: 20px;
}

#note{
    font-size: 15px;
}

#footer{
    background-color: gray;
    bottom: 0;
    text-align: center;
    position: fixed;
    width: 100%;
    color: white;
}

#songbtn{
    width:150px;
    font-size: 20px;
    margin-top: 30px;
}

canvas{
    background-color: black;
    border: 5px solid white;
    box-shadow: 10px 10px 10px beige;
    border-radius: 20px;
}